@model EmployeeLeaveRequestViewVM

@{
    ViewData["Title"] = "My Leave";
}

<h1>My Leave Allocations</h1>

<div class="row">
    @foreach (var allocation in Model.LeaveAllocations)
    {
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    Leave Type
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>
                            @allocation.LeaveType.Name
                        </h4>
                        <h6>Default Allocated Days: <span class="badge bg-secondary">@allocation.LeaveType.DefaultDays</span></h6>
                        <h6>Days Remaining: <span class="badge bg-secondary">@allocation.NumberOfDays</span></h6>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
<br />
<hr />
<br />

<h2>Pending Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].RequestComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            @if (item.Approved == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRequested)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestComments)
                    </td>
                    <td>
                        <span class="badge bg-secondary">Pending</span>
                    </td>
                    <td>
                        <a asp-action="Cancel" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Cancel Request</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<hr />

<h2> Approved and Denied Requests </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].RequestComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            @if (item.Approved != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRequested)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestComments)
                    </td>
                    <td>
                        @if (item.Approved.Value)
                        {
                            <span class="badge bg-success">Approved</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Rejected</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>